<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<header><h1>Welcome in FeedBack System Application</h1>
 <hr>

<ul><li><a href="home">Home</a></li><li><a href="about">About</a></li><li><a href="contact">Contact us</a></li><li><a href="service">Service</a></li><li><a href="gallery">Gallary</a></li></ul>
</header>
	<section>
		<h1>Welcome in Gallery page</h1>
		<p>sahdgashgd jhasg gafhgdajhfgjhdg fhadgfhadgfhd ghfg dhfg adh gfadhg fhgashjf gadhfg adh fghad fghadg fhdga fhd ghf gadh fghd fghd gfjhd gfhdg fhdg fhdghfgdhf gdf</p>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/un9TeToJSAs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</section>
	<footer></footer>

</body>
</html>