<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	<header><h1>Welcome in FeedBack System Application</h1>
 <hr>

<ul><li><a href="home">Home</a></li><li><a href="about">About</a></li><li><a href="contact">Contact us</a></li><li><a href="service">Service</a></li><li><a href="gallery">Gallary</a></li></ul>
</header>
	<section>
		<h1>Welcome in Home page</h1>
		<p>sahdgashgd jhasg gafhgdajhfgjhdg fhadgfhadgfhd ghfg dhfg adh gfadhg fhgashjf gadhfg adh fghad fghadg fhdga fhd ghf gadh fghd fghd gfjhd gfhdg fhdg fhdghfgdhf gdf</p>

	</section>
	<footer>
		<div class="part">

		</div>
		<div class="part">

		</div>
		<div class="part">
         <ul><li><a href="http://facebook.com/shivaconceptsolution"><img src="/static/img/fb.png" height="30" width="30" /></a></li><li><a href="http://instagram.com/shivaconceptsolution"><img src="/static/img/insta.png" height="30" width="30" /></a></li><li><a href="http://twitter.com/shivaconceptsolution"><img src="/static/img/twt.png" height="30" width="30" /></li></li><li><a href="http://youtube.com/shivaconceptsolution"><img src="/static/img/youtube.png" height="30" width="30" /></li></ul>
		</div>
	</footer>

</body>
</html>